@font-face {
    font-family:"CandyCane" ;
    src: url('assets/fonts/Candy\ Cane\ Personal\ Use.ttf');
}
@font-face {
    font-family: "christmasfrost";
    src: url('assets/fonts/Christmas\ Frost\ -\ Demo.otf');
}
@font-face {
    font-family: "merryland";
    src: url('assets/fonts/ChristmasMerryland.ttf');
}
/* @font-face {
    font-family:"creamcake" ;
    src: url('assets/fonts/Cream\ Cake\ Bold.otf');
} */

@font-face {
    font-family: "meddon";
    src: url('assets/fonts/Meddon-Regular.ttf');
}
@font-face {
    font-family: "meriendabold";
    src: url('assets/fonts/Merienda-Bold.ttf');
}
@font-face {
    font-family: "meriendaregular";
    src: url('assets/fonts/Merienda-Regular.ttf');
}
@font-face {
    font-family: "pinyon";
    src: url('assets/fonts/PinyonScript-Regular.ttf');
}
@font-face {
    font-family: "meriendasemibold";
    src: url('assets/fonts/Merienda-SemiBold.ttf');
}

body {
    margin: 0;
    font-family: "meriendasemibold";
    /* background-color: rgb(221, 224, 221); */
        background-color: rgb(221, 218, 218);


}
@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
    
}
@keyframes slide-in-left  {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }

}


@keyframes shrink {

    25%,
    75% {

        scale: 100% ;
    }

    50%{
        scale: 200% ;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.calenderSection {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   /* display: none; */
   position: relative;

}

.calenderContainer {
    display: flex;
    padding: 20px;
    justify-content:space-between;
    gap: 10px;

}
.calenderContainer img {
    animation-name: slide-in;
    animation-duration: 2.5s;
}

.calenderSection p {
    color:#578c4f ;
    animation-name: slide-in-left;
    animation-duration: 2.5s;
}
.calender {
    display: grid;
    /* place-items: center; */
    grid-template-columns: repeat(7,1fr) ;
    grid-auto-rows: 50px;
    gap: 4px;
    margin-top: 150px;
}

.calender p {
    grid-column-start: 1;
    grid-column-end: 5;
    margin: 0;
    color:  #70271c;
    font-family: "christmasfrost";
    font-size: 17px;
    padding: 4px;
    border: 2px solid  #70271c ;
    height: 30px;
    text-align: center;
    border-radius: 50%;
     animation: fade 3s forwards;


}

input {
    background-color: #dddada;
   border: none;
    font-family: "pinyon";
    font-weight: 700;
    
}

input[value="25"] {
    
    color:  #70271c ;


}

input:hover {
    background-color: #70271c;
    color:white;
    border-radius: 100%;
}

 button {
    text-align: center;
    height:50px;
    background-color: #70271c;
    color: #d4cbc4;
    padding: 8px;
    border-radius: 10px;
    border: none;
    width: 300px;
    /* margin-left: 30px; */
    font-family: "meriendasemibold";
    cursor: pointer;

}

 a {
   color: #d4cbc4;
    text-decoration: none;

}

button:hover {
    background-color:#d4cbc4 ;
        color: #70271c;


}
a:hover {
        color: #70271c;

}

.popup {
    background-color: #578c4f;
    width: fit-content;
    padding: 20px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    z-index: 10;

}

.popup p {
    margin-top: 50px;
    color: #d4cbc4;
}

.popup svg {
    display: flex;
    margin-left: auto;

}
.chapterContent {
    padding: 20px;
    
}
.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.cc h1 {
    font-family: "meddon";
    font-size: 50px;
}


#paragraph {
    font-family: "meriendasemibold";
    max-width: 600px;
    white-space: pre-wrap;
    overflow-x:hidden;
    display: flex;
    

}

#chapterTitle {
       animation-name: slide-in-left;
    animation-duration: 3s;
}